*{
	padding:0;
	margin:0;
 }
 body{
  	font-size:0;
 }
 #box1{
    width:350px;
    height:350px;
    float:left;
    position:relative;
 }
 #box_small{
    width:180px;
    height:180px;
    background:pink;
    opacity:0.4;
    position:absolute;
    top:0;
    left:0;
   }
 #box2{
    width:400px;
    height:400px;
    overflow:hidden; 
    float:left;
    position:relative;
 }

 #img_big{
    position:absolute;
    top:0;
    left:0;
 }
 .active{
    display:block;
 }
 .close{
    display:none;
 }
